body {  
    font-family: sans-serif;
    background-image: url(/img/813087.jpg);
    background-size: auto;
}

.form { 
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;

}

.menu2 {    
    font-size: 18px;
    margin-right: 20px;
    margin-left: 170px;
    justify-content: center;
}