body {  
    font-family: sans-serif;
    background-image: url(./img/tecladoo2.jpg);
}

.form { 
    margin: auto;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10px;
    background-color: white;

}
