body {  
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    background-image: url(/img/gt2.jpg);
}

.trabalho {  
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(44, 42, 42);
    background-color: rgb(253, 253, 253);

}

.pai {  
    justify-content: space-between;
}

.apple11 {  
    padding-bottom: 20px;
    padding-top: 100px;
}

h2 {    
    color: white;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(75, 75, 75, 0.582);
    border-radius: 70px;
}

.menu2 {    
    font-size: 18px;
    margin-right: 20px;
    margin-left: 170px;
    justify-content: center;
}